<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body><br /><br/><br />
    <div class="container">
        THIS IS THE  HOMEPAGE
        <br /><br />
    <a href="consecutive"> <button class="btn btn-primary" type="button">Consecutive Numbers</button></a>&nbsp;&nbsp;&nbsp;
    <a href="trail"> <button class="btn btn-primary" type="button">Trailing Zeros</button></a>
    </div> 
</body>
</html>